<%
    function showHeader(id , label , active=null) {
        var isActive = active === true ? 'true' : 'false';
%>        
        <li class="nav-item">
                <a class="nav-link <%=active%>" id="<%=id%>-tab" data-toggle="tab" href="#<%=id%>" role="tab" aria-controls="<%=id%>"
                  aria-selected="<%=isActive%>"><%=label%></a>
        </li> 
<%
    }
%>
<%
showHeader('genralinfo' , 'General Info' , 'active');
showHeader('osconstants' , 'Os Constants' , );
showHeader('cpus' , 'CPUs');
showHeader('networkinterfaces' , 'Network Interfaces');
%>
